<div class="modal-dialog modal-dialog-centered">
    <form method="post" action="{{ url }}" class="modal-content" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Изменение комментария</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form.as_div }}
            {% for file in files %}
                <div class="card mb-3">
                    <div class="card-body row align-items-center">
                        <input type="hidden" name="file_ids" value="{{ file.pk }}">
                        <div class="col">{{ file }}</div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger" onclick="this.closest('.card').remove();">
                                <i class="bi bi-trash3-fill"></i> Удалить
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mb-3">
                <label for="formFile" class="form-label">Прикрепляемые файлы</label>
                <input class="form-control" type="file" id="formFile" name="files" multiple>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-warning"><i class="bi bi-pencil"></i> Изменить</button>
        </div>
    </form>
</div>