{% extends "base_auth.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <li class="list-group-item">Изменение пароля</li>
    <li class="list-group-item border-bottom-0 mb-auto">
        <form method="post">{% csrf_token %}
            <p class="card-text">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
            {{ form.as_div }}
            <button type="submit" class="btn btn-success">Изменить пароль</button>
        </form>
    </li>
{% endblock %}