{% extends "base_auth.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <li class="list-group-item">Восстановление пароля</li>
    <li class="list-group-item border-bottom-0 mb-auto">
        {% if validlink %}
            <p>Пожалуйста, введите (и подтвердите) Ваш новый пароль.</p>
            <form method="post">{% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="id_new_password1">Новый пароль:</label>
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control mt-2" required>
                        {% if form.new_password1.errors %}
                            <div class="form-control-feedback">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <label for="id_new_password1">Подтверждение пароля:</label>
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control mt-2" required>
                        {% if form.new_password2.errors %}
                            <div class="form-control-feedback">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-success" type="submit">Изменить пароль</button>
                    </div>
                </div>
            </form>
        {% else %}
            <h1>Сброс пароля не удался</h1>
            <p>Ссылка для сброса пароля неверна, возможно данная ссылка уже была использована. Пожалуйста, запросите новое восстановление пароля.</p>
        {% endif %}
    </li>
{% endblock %}